{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'web3.min.js' %}"></script> <!-- Replace 'path/to/web3.min.js' with the actual path to the web3.min.js file in your static directory -->
</head>
<body>
    <h1>CAS in Blochchain 2023 Spring Edition</h1>
    <br/><br/>
    <label for="inputData">Message:</label>
    <input type="text" id="inputData" name="inputData">
    <button id="createTransactionBtn">Publish Message</button>
    <br/><br/>
    <br/><br/>

    <form method="POST" action="{% url 'transaction_detail' %}">
        {% csrf_token %}
        <label for="transaction_hash">TX Hash:</label>
        <input type="text" id="transaction_hash" name="transaction_hash" required>
        <button type="submit">Retrieve Message</button>
    </form>       
    <br/><br/>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
    
    <script>
        const createTransactionBtn = document.getElementById('createTransactionBtn');
        const inputDataBox = document.getElementById('inputData');
        
        createTransactionBtn.addEventListener('click', async () => {
            if (typeof window.ethereum !== 'undefined') {
                // Request account access if needed
                await window.ethereum.request({ method: 'eth_requestAccounts' });
                
                // Create Web3 instance
                const web3 = new Web3(window.ethereum);

                // Get user's address
                const accounts = await web3.eth.getAccounts();
                const userAddress = accounts[0];
                
                // Get text from the texbox as an input for transaction
                const inputText = inputDataBox.value;

                // Define the transaction parameters
                const txParams = {
                    from: userAddress,
                    to: '0x7771EB3f567E7e98a6191B3cb46dB7633E5B4132', // Replace 'RECIPIENT_ADDRESS' with the actual recipient's address
                    value: web3.utils.toWei('0.01', 'ether'),
                    gas: 210000,
                    gasPrice: web3.utils.toWei('500', 'gwei'),
                    data: web3.utils.toHex(inputText)
                };

                // Send the transaction
                web3.eth.sendTransaction(txParams, (err, transactionHash) => {
                    if (err) {
                        console.error('Error:', err);
                    } else {
                        console.log('Transaction Hash:', transactionHash);
                    }
                });
            } else {
                alert('MetaMask is not installed. Please install MetaMask and try again.');
            }
        });
    </script>
</body>
</html>
